<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="PlugTest.commands.category">
      </category>
      <command
            name="Sample Command1"
            categoryId="PlugTest.commands.category"
            id="PlugTest.commands.sampleCommand">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="PlugTest.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu2"
               mnemonic="M"
               id="PlugTest.menus.sampleMenu">
            <command
                  commandId="PlugTest.commands.sampleCommand"
                  mnemonic="S"
                  id="PlugTest.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="PlugTest.toolbars.sampleToolbar">
            <command
                  commandId="PlugTest.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="PlugTest.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
     	 <command commandId="PlugTest.XMLWriter.convert"  label="Create XML" style="push">
      </command>
    </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wso2.developerstudio.humantask.editor.MultiPageEditor"
            
            contributorClass="org.wso2.developerstudio.humantask.editor.MultiPageEditorContributor"
            extensions="ht"
            icon="icons/sample.gif"
            id="PlugTest.editors.MultiPageEditor"
            name="Human Task Editor">
      </editor> 
</extension>
 <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="HumanTask Wizard"
            id="PluginTrial">
      </category>
      <wizard
            name="HumanTask File"
            icon="icons/sample.gif"
            category="PluginTrial"
            class="org.wso2.developerstudio.humantask.editor.SampleNewWizard"
            id="plugintrial.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
